@import url('https://googleapis.com');
 
    body{
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            line-height: 1.5;
        } 
  
  .header {
            display: flex;
            border-bottom: 1px solid #000;
            padding: 10px 20px;
            font-size: 20px;
        }
        .logo {
            margin-right: 50px;
            text-decoration: none;
            background: rebeccapurple;
            color:  lightgreen;
            font-weight: 700;
            padding: 5px 15px;
        }

       a{color: rebeccapurple;
        font-weight: 700;
    text-decoration: none;}

        ul {
            display: flex;
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }
        ul > li {
            margin-right: 30px;
        }

       h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 0.01em;
}
        .box {
            display: flex;
            margin-bottom: 30px;
            gap: 20px;
            border-bottom: 1px solid #000;
        }
        .aside {
            background: lavender;
            padding-right: 10px 20px;
        }

        section{background: lavender;
        padding: 5px 20px;
    margin-bottom: 20px;}

    section .link {
        background: rebeccapurple;
        color:  white;
        padding: 8px 15px;
    }

h1 + section {
  background-color: moccasin;
}

        .post {
            padding-bottom: 20px;
        }
footer{font-size: 13px;
padding: 0 20px;}
